extends layout

block content


    h1 Lista Consolidada
    p Uma das faces visíveis do projeto é o catálogo dos processos da administração pública portuguesa, designado por Lista Consolidada. Juntamente com este catálogo há outros: o catálogo legislativo, que contem as entidades da Administração Pública Portuguesa, o catálogo das tipologias, que contem a lista de agrupamentos de entidades, e o catálogo legislativo, que contem a lista de diplomas legislativos que regulam os processos.

    ul 
        li
            a(href='/classes' ) Classes
        li
            a(href='/indices' ) Termos de índice