doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    .w3-container
    //- link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
