doctype html
title Home
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
.w3-container
  h1 Lista Consolidada
  p Uma das faces visíveis do projeto é o catálogo dos processos da administração pública portuguesa, designado por Lista Consolidada. Juntamente com este catálogo há outros: o catálogo legislativo, que contem as entidades da Administração Pública Portuguesa, o catálogo das tipologias, que contem a lista de agrupamentos de entidades, e o catálogo legislativo, que contem a lista de diplomas legislativos que regulam os processos.

  table.w3-table.w3-striped.w3-border
    tr
      th Id
      th Tipologias
    each t in tipologia
      tr
        td
          a(href='/tipologia/' + t.id) #{t.id}
        td #{t.designacao}